.buttons{
    float: left;
    z-index: 99;
    position: fixed;
    top: 30px;
    left: 50%;
}
.center-box{
    margin-left: -100%;
}
.flex-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.time{
    margin-top: 10px;
    color: white;
    font-size: 0.75rem;
    line-height: 26px;
}
.analyse-time{
    color: #ddd;
    font-size: 1.0rem;
    background: #333;
}

.button-space{
    margin: 0 10px;
}
.button-focus{
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: rgba(27, 154, 247, 0.9) !important;
}